[2018-10-30 12:21] vladsaveliev opened #2 "Error in pcgrr::list_to_df(pcgr_config$tumor_type) : it should be a list"
Almost getting there with CPSR :) Errors in the end, not sure again if has to do with no-docker installation. A toy example:

[code]

/cc @pdiakumis

[2018-10-30 12:32] sigven commented on #2
Hmm.. looking at it now. Thought you'd never reach this line when you initialize the CPSR report object (i.e. `type = 'predisposition'`). I'll have a closer look.

[2018-10-30 13:10] sigven commented on #2
The numpy RuntimeWarning's I have seen before, I guess this might actually be no-docker related. Just re-ran the example VCF using Docker, and it did not produce the `pcgrr::list_to_df` error. Do not have a great clue what's going on there at the moment.

[2018-10-31 00:05] vladsaveliev commented on #2
Good, thanks for looking into this! Might have to do with different package versions in image vs conda. Will look into this and pin all packages for good.

Just to make sure, the dev image and git master branch are on sync at the moment in terms of pcgrr and python soruce, right?

[2018-11-04 06:03] pdiakumis commented on #2
Vlad and Sigve,
I think the error has something to do with a couple of things. Let's follow the crumbs:

* `pcgr/src/cpsr.R` calls `pcgrr::generate_predisposition_report`, which sort of generates the error you got:

[code]

* Inside `pcgrr::generate_predisposition_report` the function called is `pcgrr::get_calls`, which errors out and warns us because the `INTOGEN_DRIVER_MUT` column that's suppose

[2018-11-04 12:06] vladsaveliev commented on #2
The LoF error hints that it might have to do with differences in LoFtee annotations (PCGR have an older version of the plugin packaged than conda's ensemble VEP), will explore that!

[2018-11-05 09:00] sigven commented on #2
Peter and Vlad,
Thanks a lot for figuring this out! All the variable naming (`INTOGEN_DRIVER`, `INTOGEN_DRIVER_MUT` etc) should likely have been set up more robustly, but for now it has been working fairly ok. A clarification regarding this:

`pcgrr::get_calls`is a function that takes the vcf2tsv-converted, annotated VCF file and adds additional annotations. This is done both for the annotated VCF

[2018-11-05 10:12] vladsaveliev commented on #2
Sigve, thanks so much for looking into it!

That would be good to have it more robust for the future, but first I tried to figure out why the same test works differently with dockerized and codnarized version. Got to the bottom of the missing `HC` bug: it stems from different versions of loftee coming from the image vs. conda. Now I changed condarized version to reuse your built-in `loftee.tgz` an

[2018-11-05 15:05] #2 closed

[2018-11-12 12:34] vladsaveliev opened #3 "CPSR dbnsfp min_majority check"
Hi Sigve,

Getting this error in CPSR with the default toml:

[code]

The toml has

[code]

So `min_majority` is below 5, this the error, as far as I understand. What's correct, the code or the toml? :)

Vlad

[2018-11-12 12:47] vladsaveliev opened #4 "Error: `by` can't contain join column `GENOMIC_CHANGE` which is missing from RHS"
Another one (sorry :) ), during `cpsr-writer`, dockerized one as well:

[code]

Attaching the test data for this run, and the command is as follows:

[code]

[cpsr_test.zip](https://github.com/sigven/cpsr/files/2571919/cpsr_test.zip)

[2018-11-12 12:48] sigven commented on #4
Thanks, Vlad! never be sorry, if it was not for you, bugs would be piling up more quickly:-) I'll have a look now.

[2018-11-13 09:57] sigven commented on #4
Think this should be taken care of now.

[2018-11-13 09:58] sigven commented on #3
The code is correct. TOML file should be updated also, the voting scheme is now a bit more conservative.

[2018-11-13 09:58] #3 closed

[2018-11-13 11:15] #4 closed

[2018-11-16 01:15] vladsaveliev opened #6 "Bug: `object 'RMSK_HIT' not found`"
Hi Sigve,

Thanks for promptly fixing CPSR bugs. I got another one for you, below' the log:

[code]

The VCF and toml are attached in an archive: [vlad_cpsr_bug.zip](https://github.com/sigven/cpsr/files/2587606/vlad_cpsr_bug.zip)

Vlad

[2018-11-20 13:12] sigven commented on #6
Should be fixed now, new release and bundle. Thanks for bug reporting, again :-)

[2018-11-20 13:12] #6 closed

[2019-01-26 16:54] jxshi opened #7 "Error in collapse(tmp, inner = FALSE, indent = indent) : R character strings are limited to 2^31-1 bytes"
Hi @sigven ,

Thank for your cpsr and pcgr software. I have used pcgr for a while and I love it. I tried cpsr today and successfully tested the example ```vcf``` file. When I tried to use my own data, and it pops up the following error message. Can you check for me please? Thank you in advance!

ERROR message:
[code]

Best regards,

Jianxiang

[2019-01-27 12:41] jxshi commented on #7
Hi Sigve,

Here is [the link](https://minersutep-my.sharepoint.com/:u:/g/personal/jshi_utep_edu/ESU_di7AXNpBuwUVEvB0lDMB_2zDFKDeZsSeoMdcUfnYJA?e=LZy7Ln) to the vcf file that I used. I tried on two different severs and both failed with the same error. By the way, the shared link will expire in 7 days.

Thank you for you time!

All the best,

Jianxiang

[2019-01-27 22:17] sigven commented on #7
Hi,

FYI: the VCF  being linked is a VCF file with somatic calls (tumor sample + normal sample), i.e. as used for PCGR. CPSR requires germline calls as input.

[2019-01-28 12:06] jxshi commented on #7
Hi,

Thank you for pointing that out. I will try later with germline VCF file.

Cheers!

Jianxiang

[2019-01-28 12:06] #7 closed

[2019-04-04 21:29] brucemoran opened #8 "--no-docker BSGenome package not installed"
Hi Sigve,

getting an error because 'BSgenome.Hsapiens.UCSC.hg19' isn't available running in --no-docker. Don't use conda so no idea how to fix, presume add to conda env?

Package(s) look great btw, building into NextFlow pipelines using Singularity so you may hear from me again=D

Thanks,

Bruce.

[2019-04-08 02:15] vladsaveliev opened #9 "ClinVar conflicting evidence"
Hi Sigve,

Wondering what was the rationale behind skipping variants which have "conflicting_interpretations_of_pathogenicity" by ClinVar regardless of other annotations that can be (likely) pathogenic? Perhaps it makes the report too cluttered?

Thinking that such variants should still go under TIER3 (either VUS or Non-classified) - or below, but should show up in the report.

Perhaps in the foll

[2019-04-08 02:36] vladsaveliev commented on #9
Attaching an example VCF with such variant:
[CHEK2.vcf.gz](https://github.com/sigven/cpsr/files/3052403/CHEK2.vcf.gz)

[2019-05-06 09:17] jxshi opened #10 "Column `BP1` can't be converted from character to logical"
Hi,

I was trying to run ```cpsr``` but it popped up an error when generating output file. Can you check for me please? Thank you in advance!

[code]

[2019-05-07 11:35] sigven commented on #10
Hi @jxshi,
Thanks for using CPSR! I am in the process of releasing a major upgrade of `cpsr`. If you can share your VCF with me, I can demonstrate how the new report will look.

best,
Sigve

[2019-05-07 13:29] jxshi commented on #10
Can you send me your email address please? I can send you the vcf file via email.

Thank you and cheers!

[2019-05-07 13:52] jxshi commented on #10
Here is the [link](https://minersutep-my.sharepoint.com/:u:/g/personal/jshi_utep_edu/EdYri2mbG3dNp-it5KJS7yYBWfUzAy-Uo0P_3PhY0j6d9g?e=kKUMRv) to the vcf file. The download link will be valid for 7 days. Thank you!

Cheers!

[2019-05-07 18:20] sigven commented on #8
Dear Bruce,

Truly sorry for the late response to this issue. I am making a huge upgrade on this workflow at the moment, and I will have the guys that have added the `--no-docker` option look into this once i push the new release. Download an example report showing the new look [here](https://www.dropbox.com/s/7axgt8qrxfntnc6/example.cpsr.grch37.html?dl=0) if you like.

Updates coming soon!

best,

[2019-05-07 18:30] sigven commented on #10
@jxshi, (cc @brucemoran)

I have uploaded an example report of your VCF from a CPSR run (v 0.4.0 - soon to be pushed to GitHub) [here](https://www.dropbox.com/s/se85erm4vs2tnyk/fam3010040.cpsr.grch37.html?dl=0). Make sure you download the file to view the contents properly (Dropbox cannot show the HTML fully).

PS. CPSR/PCGR is not fond of multiallelic variants (unfortunately a common output by GA

[2019-05-08 03:44] jxshi commented on #10
Hi Sigve,

The new report look fantastic! Thank you for you help!

Looking forward to the new release.

Cheers!

Jianxiang

________________________________
From: Sigve Nakken <notifications@github.com>
Sent: Tuesday, May 7, 2019 12:30 PM
To: sigven/cpsr
Cc: Shi, Jianxiang; Mention
Subject: Re: [sigven/cpsr] Column `BP1` can't be converted from character to logical (#10)

@jxshi<https://github.com

[2019-05-20 12:26] #10 closed

[2019-05-20 12:28] sigven commented on #9
Hi Vlad,
Check out the new release, should place variants with conflicting interpretations of pathogenicity (from ClinVar) in the tier 3 table.

cheers,
Sigve

[2019-05-20 12:28] #9 closed

[2019-05-21 02:59] vladsaveliev commented on #9
Wow, thanks so much for the release, Sigve! That's highly anticipated. Will give it it run

[2019-05-21 11:01] sigven commented on #9
Cool. Happy bug-hunting :D

[2019-05-21 11:35] vladsaveliev commented on #9
Had to adapt for the command line options, but otherwise no bugs noticed :)

One thing is that you removed the predisposition gene list from the toml. Currently we pre-subset the germline variants to our own gene list (which is a combination of your list and CancerGeneCensus germline) before feeding them into CPSR, so in a way wanted to avoid additional hard-filtering. Though that's not critical I

[2019-05-21 11:37] vladsaveliev commented on #9
And thanks for parametrizing `vep_pick_order` :)

[2019-05-21 18:51] sigven commented on #9
Yeah, the list of genes that are target for predisposition screening was simply a choice I made. The previous configuration was a bit too messy to handle. Either way, I'd be happy to create the specific gene set you are using as an additional virtual panel (aka UMCCR track:-))

Regarding ploidy and purity you are correct; these are not used in any way other than for display right now (I have no bi

[2019-05-22 04:41] vladsaveliev opened #11 "Update bug hunting"
Getting this error now:

[code]

Will investigate if it has to do with the installation

[2019-05-22 04:44] vladsaveliev commented on #9
Cool. Would be really awesome to have the option of generic cancer type!

[2019-05-22 04:57] vladsaveliev commented on #11
Was wondering if I did something wrong with the no-docker install, checked the Dockerfile changes in the new release, and there are _a lot_ of them https://github.com/sigven/pcgr/commit/821102fdc479b690d474fc5709028a96a26c4b85#diff-28b3886804b6c975a958b69b941ea9af
Is it possible by any chance to make a summary of dependencies changes? :)

[2019-05-22 05:27] vladsaveliev commented on #11
To address the original bug, had to move the fole `data-raw/data-raw.R` into `R/`, and add line
[code]
into the `NAMESPACE` file

[2019-05-22 06:29] #11 closed

[2019-05-22 06:38] sigven commented on #11
Vlad,
Thanks a lot for this. Pretty much relying on you for the no-docker part:-) Will try to see if i can make a summary of the dependencies.

best,
Sigve

[2019-05-22 06:46] sigven commented on #11
If you are still doing some stuff in the grch37 world, take a not of this:
https://github.com/Ensembl/ensembl-vep/issues/413

[2019-05-22 08:00] vladsaveliev commented on #11
Wow, missing annotations on entire chromosome is huge. But that's only for dbSNP and gnomAD? Shouldn't be a problem for us, we annotate with those separately and we don't use tumor-only filtering in PCGR. But yeah, in UMCCR we are still doing GRCh37 for some unknown reason

[2019-05-22 08:33] vladsaveliev opened #13 "Option of not specifying tumor type"
Sorry, was testing the feature of creating an issue from a comment. This belongs to PCGR repo

[2019-05-22 08:35] #13 closed

[2019-06-07 11:11] brucemoran commented on #8
Hi Sigve,

finally got time to get this running in a Singularity container in a Nextflow pipeline (thanks to @tsnowlan), first CPSR report found a veery significant mutation, so great! And report is perfect for clinicians to view.

Also solved my issue here, see [the Singularity recipe ](https://github.com/brucemoran/Singularity/blob/master/tools/annotation/recipe.pcgr.CentOs7).

Thanks,

Bruce

[2019-06-07 11:11] #8 closed

[2019-06-07 12:29] sigven commented on #8
Hi Bruce,
That's very cool! I am happy you got it working on your side. I'll do my best to follow up if you run into any other issues.

best,
Sigve

[2019-08-14 01:54] xiaoqiwang19 commented on #7
Has this problem been solved ? I had the same problem.

[2019-08-27 11:55] vladsaveliev opened #15 "Variant missed in GRCh38"
Hey Sigve,

This APC missense variant (rs459552) is reported as Benign in GRCh37, but missed in GRCh38. Can't figure out why. The Vep pick order doesn't seem to affect this. All fields in the intermediate TSV file seem to be pretty similar...

Attaching the VCFs below:

[rs459552_grch37.vcf.gz](https://github.com/sigven/cpsr/files/3545934/rs459552_grch37.vcf.gz)
[rs459552_grch38.vcf.gz](https://gi

[2019-08-29 10:41] sigven commented on #15
Hey Vlad,
Sure I'll have a look, just give me a couple of days.  WIll get back to you shortly.

best,
Sigve

[2019-08-29 20:57] sigven commented on #15
Just ran the variant against VEP 97 (soon for release with PCGR/CPSR), and it seems to produce similar results for both builds. Results [here](https://www.dropbox.com/sh/dcemrsszuc642hg/AACBuGX3Aa6C6g6se8D05ElKa?dl=0)

I remember there was an [existing issue](https://github.com/Ensembl/ensembl-vep/issues/413) with the cache for 96 (for chromosome 5, interestingly). Could be the root of the cause.

[2019-08-30 02:47] vladsaveliev commented on #15
Thanks Sigve! Seems to be working for me with VEP 97.

[2019-08-30 23:29] vladsaveliev commented on #15
Updated VEP to 97 manually, no luck. I guess I might need the CPSR update as well?

[2019-08-31 06:22] sigven commented on #15
Yeah, it's on its way. Will try to have it out next week.

best,
Sigve

[2019-09-06 01:31] ohofmann commented on #15
Thanks so much, Sigve.

[2019-09-10 09:37] vladsaveliev opened #16 "CPSR gnomAD maf cut-off"
Hey Sigve,

Just wondering if there is any reason to have a low population frequency cut-off for germline variants? My first guess would be that predisposition variants more common than 5%, but I admit I don't know really.

Vlad

[2019-09-10 10:20] sigven commented on #16
Hey Vlad,
The gnomAD threshold gives you the opportunity to essentially rule out (from the report) any variant that is relatively common in the population. Most pathogenic variants in cancer susceptibility genes (here I am thinking of the ones with high penetrance, i.e. with an P/LP status in ClinVar) have very low allele frequency, or are even absent from gnomAD. This is supported by standard pat

[2019-09-10 11:02] vladsaveliev commented on #16
That totally makes sense, really appreciate the detailed explanation! I was trying to hunt several missing MHS variants in hg38 compared to GRCh37 runs (e.g. rs1650697). For some reason the gnomAD frequencies are reported differently, e.g. GRCh37:

[code]

And hg38:

[code]

And because of the missing GLOBAL_AF_GNOMAD, in 37 the variants are kept. Even though the representation of the variant in `

[2019-09-29 18:00] sigven commented on #16
Cutoff's are now only applied for unclassified variants (non-ClinVar).

[2019-09-29 18:00] #16 closed

[2019-10-03 03:29] vladsaveliev opened #17 "Missing gnomad_cpsr.vcf.gz"
Hey Sigve,

Trying to run the new CPSR through hg38. `data/grch38/gnomad_cpsr/gnomad_cpsr.vcf.gz` seems to be missing from the bundle. I might have deleted it accidentally on my side, will try to download again... Can you check on your side if it's there or not?

Vlad

[2019-10-03 09:16] sigven commented on #17
You are right, Vlad. Updated bundle shortly!

best,
Sigve

[2019-10-03 12:15] sigven commented on #17
Hi Vlad,
I will post a NEWS item on the CPSR page with a link to the missing files (rather than updating the whole bundle). Would you mind checking that [this gdrive link](https://drive.google.com/open?id=13mOn1WXEXz_XO3N57LC415gPO0kz3oRA) provides the necessary data?

best,
Sigve

[2019-10-04 04:57] vladsaveliev commented on #17
Thanks Sigve! It works

[2019-10-04 04:57] #17 closed

[2019-10-11 14:30] ridwan-shaikh opened #18 "Double comma in line 24 of cpsr_validate_input.py"
Hi Sigven,

Just to let you know, there is a double comma on line 24 after choice=[0,1] of cpsr_validate_input.py

[code]

[2019-10-11 14:44] sigven commented on #18
Dear @ridwan-shaikh,
Thanks a lot for the notification. A stupid mistake. Will make an updated fixed release later today :-).
best,
Sigve

[2019-10-11 15:55] ridwan-shaikh opened #19 "Unused arguments in crosstalk::filter_slider"
Hi Sigven,

I should have started the other issue with a thanks for the package btw! I am currently testing out CPSR for germline reporting and tiering as I already have PCGR in use for somatic reporting. So a huge thank you.

Anyway found another bug (I am not sure if it just because I am using the non-dockerised version on our cluster, so some packages may be out of date)

`Error in crosstalk::f

[2019-10-11 15:59] sigven commented on #19
Ah thanks a lot for reporting! In order for me to reproduce the bug, would it be possible for you to share the variant set (VCF) with me somehow? And build (grch37/grch38) and config file?

best,
Sigve

[2019-10-11 16:00] ridwan-shaikh commented on #19
Hi Sigven,

This was on your example vcf in the CPSR-0.5.0 build

[2019-10-11 16:02] sigven commented on #19
Got it. Will test later! Thanks again.

best,
Sigve

[2019-10-11 16:06] ridwan-shaikh commented on #19
Just looking at the help function for filter_slider, it looks like the argument 'min', 'max' does not exist. Maybe dragRange would work:

`crosstalk::filter_slider("CLINVAR_REVIEW_STATUS_STARS", "ClinVar review status stars", variants_class5_1, ~CLINVAR_REVIEW_STATUS_STARS, ticks = T, dragRange = range(CLINVAR_REVIEW_STARS)) #not tested`

regards,
Ridwan

[2019-10-11 16:29] sigven commented on #19
Hm. A bit strange. Ran the example now, and it work (Dockerized). If you look at the commit comment for the `man` directory  at [https://github.com/rstudio/crosstalk](https://github.com/rstudio/crosstalk), it seems it has been added to the help text also? But that seem to be committed quite long time a go..

Will make a push to dev for you to test on your local installation.

best,
Sigve

[2019-10-12 06:47] sigven commented on #19
It might be that the `install_no_docker` version (i.e. conda) installs the `crosstalk` package from CRAN (1.0.0) and not the updated version on GitHub (1.0.1). Could that be the reason, @vladsaveliev?

[2019-10-12 17:15] ridwan-shaikh commented on #19
Yes that looks to be the reason. I just had a look at the packages suggested in a fresh install of the conda environment it say: conda-forge/noarch::r-crosstalk-1.0.0-r35h6115d3f_1002. Curiously, I had an error of the following packages not existing when attempting to run for the first time.

- BSgenome.Hsapiens.UCSC.hg38
- BSgenome.Hsapiens.UCSC.hg19

Sorry I didn't take a screenshot at the time

[2019-10-12 20:06] kokyriakidis opened #20 "Trio Analysis"
Hi @sigven

Is there a use of CPSR in Trio Analysis?

[2019-10-12 23:00] vladsaveliev commented on #19
Huh, thanks for the forensics! I will modify the conda recipe to use the GitHub version of `crosstalk`.

Regarding the BSGenome packages, I remember having some issues with them too. I will just install them directly in the recipe from bioconductor instead of using conda versions, that should solve the problem.

[2019-10-13 08:23] vladsaveliev commented on #19
Hmm, it looks like though [GitHub has 1.0.0](https://github.com/rstudio/crosstalk/blob/master/package.json#L3) as well?

If PCGR needs some unreleased features, one way would be to build our own package for crosstalk under the pcgr channel. Happy to do that (I think I already did it once for the condarized version, before https://github.com/rstudio/crosstalk/pull/56 was merged)

[2019-10-14 13:38] sigven commented on #18
Fixed now (v0.5.1)

[2019-10-14 13:38] #18 closed

[2019-10-14 13:38] sigven commented on #20
Hi @kokyriakidis,

Not yet :-) Currently processing single samples only.

best,
Sigve

[2019-10-14 13:38] #20 closed

[2019-10-14 13:39] sigven commented on #15
Closing this issue for now. ClinVar is updated, so is VEP (98)

[2019-10-14 13:39] #15 closed

[2019-10-28 22:29] vladsaveliev commented on #19
Alright, updated the recipes and pushed pcgr==0.8.3.1 and cpsr==0.5.1.2 into anaconda. This versions use Crosstalk from GitHub which fixes this issue. Also I[m not having the BSGenome errors, but let me know if it happens to you again.

To update:

[code]

[2019-10-29 13:03] ridwan-shaikh commented on #19
Hi Vlad,

when attempting to update using:

`conda install -c pcgr "pcgr>=0.8.3.1" "cpsr>=0.5.1.2"`

[code]

Does this indicate that conda-forge channel does not exist as a list of channels?

So I installed ggpubr:

[code]

and then tried updating cpsr

[code]
but cpsr is listed when running `conda list`

[2019-10-30 04:55] vladsaveliev commented on #19
Ah, sorry @ridwan-shaikh, I already have conda-forge and bioconda in my .condrc and that's why didn't bother adding them into the command line. The correct one should be:

[code]

Worked for me, can you try? If it errors with UnsatisfiableError again, can you try installing into a clean env please? (`conda create -n pcgr -c pcgr -c conda-forge -c bioconda "pcgr>=0.8.3.1" "cpsr>=0.5.1.2"`) Just for

[2019-10-30 10:34] ridwan-shaikh commented on #19
Hi Vlad,

yes adding the correct channels helps to update to the latest cpsr version.

For testing purposes i tried a fresh install too, to see what crosstalk is added and you're right, cross talk remains at v1.0.0.

[2019-10-30 15:05] ridwan-shaikh opened #21 "Failed to instantiate plug in LoF"
Hi Sigven/Vlad,

@vladsaveliev I assume this is probably more directed towards you as this is probably and issue from using the conda version (note: this is a fresh install too). Running the example.vcf.gz on v0.5.1.2 gives the following error:

[code]

listing at the location: /.conda/envs/pcgr/share/loftee shows only the gzipped folder with no other files:

[code]

I have tried untaring the loft

[2019-10-31 04:57] vladsaveliev commented on #19
Sorted it out. Conda details. Turns out I need to update crosstalk in `post-link.sh` script instead of `build.sh`, to make sure it's executed on a host machine. Anyway. Try updating? :)

[code]

[2019-10-31 08:19] vladsaveliev commented on #21
Hi Ridwan,

I'm actually having the same error (and VEP continues running so I didn't even pay attention before). Not really sure how loftee installation works; I basically just copied [this line](https://github.com/sigven/pcgr/blob/master/src/Dockerfile#L163) from the Dockerfile into the conda recipe and assumed it will work with this tgz archive somehow.

Let me investigate :)

[2019-10-31 14:52] ridwan-shaikh commented on #19
Hi Vlad,

Running the above command results in:

[code]

and `conda list` results in:

[code]

Does not look like it has updated crosstalk. To get around it, I have just been installing the github version of crosstalk through R

`devtools::install_github("https://github.com/rstudio/crosstalk.git")`

[2019-10-31 17:58] ridwan-shaikh opened #22 "Custom panel"
Hi Sigven,

This is more of a question/feature request than an issue. Would it be possible to use a custom panel in CPSR?

I was thinking I could create a custom bed file in pcgr/data/grch37/virtual_panels/ but I noticed your virtual panels are annotated, so I was not too sure if the annotations were a requirement or not, or if having a custom bed file would create issues further down the line?

R

[2019-11-01 00:40] vladsaveliev commented on #19
Ridwan,

`conda list` will show `1.0.0` because `1.0.1` does not exist on conda (and neither on cran - it wasn't released). My change to the `pcgr` package was to actually run `devtools::install_github("https://github.com/rstudio/crosstalk.git")` automatically in the end of the installation. So 1.0.1 should be reflected if you run `R -e "library(crosstalk); sessionInfo();"` (regardless of the cond

[2019-11-01 06:45] sigven commented on #22
Hi @ridwan-shaikh,
Thanks for reaching out. Submitting a custom panel (i.e. a BED file) in CPSR is not currently supported. Please also keep in mind the scope of the tool, to screen for cancer predisposition variants. I believe the current panels, and specifically panel 0 (exploratory), are not missing many genes that are know to be associated with cancer predisposition. If you have suggestions fo

[2019-11-01 12:33] ridwan-shaikh commented on #22
Hi Sigve,

Thanks for information. So the issue I noticed was there were a few genes in our custom clinically validated paediatric panel we run as part of the Stratified Medicines Paediatrics programme UK (SMPeads) [(see paper here)](https://www.sciencedirect.com/science/article/pii/S0959804919304460?via%3Dihub) where we had found germline mutations (that would most likely be VUS) but are not a pa

[2019-11-01 12:53] sigven commented on #22
Hi Ridwan,
Totally see your point. And as you say, I believe others will be faced with the same challenge, considering the various custom-made panels that is being made. I will try to think of a strategy to support this, primarily like you suggested; as a BED file that is provided by the user, with a name defined in the configuration file. It might not be as much work as I was initially thinking.

[2019-11-05 16:42] ridwan-shaikh commented on #22
Hi Sigve,

Would you mind if I sent only a watered down version of the bed file? The bed file is company property so bound by datasharing rules unfortunately.

Sorry to be a pain.

Regards,
Ridwan

[2019-11-05 19:31] sigven commented on #22
Sure, been playing with this today, so happy to have a go at a testset.

best,
Sigve

[2019-11-08 06:26] sigven commented on #22
Having looked at this, I may put a restriction on the BED file suggesting that the gene symbol of interest is provided along with the actual genomic intervals. Considering the overlap between distinct genes due to regulatory regions (upstream of TSS), it would probably be necessary also to provide the desired targets (i.e. gene symbol). This in order to avoid a large number of irrelevant genes to

[2019-11-25 18:22] kokyriakidis opened #23 "ERROR while running"
Hi @sigven !

I am facing the following errors while running the tool
[code]

The vcf file is
[SRR9873696.vcf.gz](https://github.com/sigven/cpsr/files/3888037/SRR9873696.vcf.gz)

Any thoughts?

[2019-11-25 19:21] sigven commented on #23
Hi @kokyriakidis!

This indicates that your VCF file do not adhere to the (very) strict requirements for the VCF format, as tested by [vcf-validator](https://github.com/EBIvariation/vcf-validator). Unless you want to fix your VCF so that it fully adheres to the VCF format, you may try adding the option `--no_vcf_validate`. That usually helps.

best,
Sigve

[2019-11-30 14:38] jxshi opened #24 "cpsr_validate_input.py: error: argument vcf_validation: invalid int value: '/home/zdjzyx01/biosoft/cpsr/cpsr.toml'"
Hi @sigven ,

I have upgrade to the latest version of ```PCGR``` and ```CPSR```. ```PCGR``` program works like charm, but the ```CPSR``` program doesn't seem to work.
Here is the command I used to run ```CPSR```.
[code]

[code]
Any idea how to solve this problem?

Thanks!

Best,
Jianxiang

[2019-11-30 14:46] sigven commented on #24
Hi @jxshi,
I notice you are using the `--no-docker`option. Perhaps the no-docker version is not fully up-to-date, @vladsaveliev?

best,
Sigve

[2019-11-30 23:57] vladsaveliev commented on #24
Hi, that's right, the latest version is not yet on conda - but it will be later today. I'll let you know!

[2019-12-01 05:24] vladsaveliev commented on #24
Done now. @jxshi, please update the conda packages with:

[code]

And see if it works for you now?

[2019-12-02 15:05] jxshi commented on #24
Hi @vladsaveliev ,

Thank you for your timely reply. But there seemed new error message:
[code]
Can you check further please?

Thanks!

Jianxiang

[2019-12-03 05:47] vladsaveliev commented on #24
@jxshi, sorry about this. Gonna need https://github.com/bioconda/bioconda-recipes/pull/18392 to be resolved to make LoF VEP plugin available on conda - I will try to escalate this.

[2019-12-06 13:23] vladsaveliev commented on #24
Good news, the perl-big-file recipe for conda was merged, and it works with CPSR on my side. So now I need to rebuild the `pcgr` and `cpsr` packages. Will let you know once they are uploaded

[2019-12-06 14:11] #19 closed

[2019-12-07 02:04] vladsaveliev commented on #24
Alright. @jxshi, now if you update the pcgr package using the following command, it should hopefully work:

[code]

[2019-12-07 07:27] jxshi commented on #24
Thank you for keeping me informed. I will try again later.

Sent from my iPhone

On Dec 7, 2019, at 10:05 AM, Vlad Saveliev <notifications@github.com<mailto:notifications@github.com>> wrote:

Alright. @jxshi<https://github.com/jxshi>, now if you update the pcgr package using the following command, it should hopefully work:

conda install -c pcgr -c conda-forge -c bioconda pcgr==0.8.4.4

—
You are

[2019-12-07 15:23] jxshi commented on #24
Hi @vladsaveliev ,

There might still be something wrong. ```Conda``` cannot find ```pcgr==0.8.4.4``` in the conda channel. Here is the error message:
[code]
Thank you for your time. Appreciate it.

Jianxiang

[2019-12-07 22:50] vladsaveliev commented on #24
@jxshi, sorry, my fault, I uploaded the package into a wrong channel. Can you try again please? Sorry for all the trial-and-error...

[2019-12-08 08:20] jxshi commented on #24
Hi @vladsaveliev ,

Thank you for your timely reply. I am able to get ```cpsr``` run on the cluster now.

Cheers!

All the best,
Jianxiang

[2019-12-08 08:20] #24 closed

[2019-12-12 01:49] kokyriakidis commented on #23
It works! Just wanted to ask if panel 0 has all the genes on all the other panels you offer.

[2019-12-12 07:28] sigven commented on #23
No, Panel 0 is assembled from other sources than Genomics England, documented here: https://github.com/sigven/cpsr#cancer-predisposition-genes

But I would expect a significant overlap.

Sigve

[2019-12-12 07:28] #23 closed

[2019-12-18 14:42] kokyriakidis commented on #22
Hi @sigven !

Could you please show me 2-3 lines of thes bed file, so I am sure I do it the right way?

[2019-12-18 16:12] ridwan-shaikh commented on #22
Hi Sigve,

My apologies, I really don't know how this escaped by mind, or my endless list of things to do. I have a test bed file and a test vcf for you. How shall I send it to you?

Regards,
Ridwan

[2020-01-14 06:35] vladsaveliev commented on #21
Totally forgot to update on this issue. Perl-BigFile library is now on conda: https://github.com/bioconda/bioconda-recipes/pull/18392 Meaning that LofTee should work properly with the most recent version of PCGR/CPSR (this pull request have the fixes https://github.com/sigven/pcgr/pull/98). Works on my side. So updating conda packages should fix the issue:

[code]

[2020-01-14 07:38] sigven commented on #22
Dear @ridwan-shaikh,
Sorry for my late response to this. If you could share through Dropbox etc. that would be convenient, otherwise try sigven AT ifi . uio .no.

@kokyriakidis:

BED file should look like this (dummy example, gene regions do not make any sense):

chr1   1    10000    BRCA1
chr2   1    10000    ATM

Best,
Sigve

[2020-01-14 11:11] ridwan-shaikh commented on #21
Thanks Vlad. Tried it this morning and it works perfectly.

[2020-01-14 11:11] #21 closed

[2020-01-31 04:51] vladsaveliev opened #26 "Missed variant due to transcript pick?"
Hi Sigve, attaching a variant that was picked with CPSR 0.4.0, but missed in 0.5.2 - I'm struggling to understand why: [germline_GJB2_13_20189473.vcf.gz](https://github.com/sigven/cpsr/files/4137615/germline_GJB2_13_20189473.vcf.gz)

The variant has multiple transcript annotations. In 0.4.0, there are 4:
ENST00000382844 - missense_variant, protein_coding
ENST00000382848 - missense_variant, protein

[2020-01-31 06:48] sigven commented on #26
Thanks for the notification, Vlad. Will have a look into it!

[2020-02-13 06:51] vladsaveliev commented on #26
Also, wondering why is this only executed for CPSR?

[code]

I'm seeing a similar issue for PCGR with a coding variant in TNXB reported as a downstream event in AL662884.2:

<img width="1170" alt="Screen Shot 2020-02-13 at 15 47 50" src="https://user-images.githubusercontent.com/1575412/74408715-80abb480-4e78-11ea-8120-b24eedf75a78.png">

Thought it might get fixed by the same fix, but it's not.

[2020-02-14 10:05] sigven commented on #26
Hi Vlad,

Regarding the GJB2 case (this is somewhat complicated, here is a shot):

The first part is due to the fact that CPSR is targeted towards specific genes of interest. This means that we need to capture not only one primary transcript consequence (since a variant may be annotated with multiple genes, and we want to report the consequence related to the targeted gene). Basically, we need the

[2020-02-14 20:57] sigven commented on #26
Regarding PCGR, I think we may use this pick order as the default one:

`vep_pick_order = "appris,biotype,canonical,ccds,rank,tsl,length,mane"`
or even
`vep_pick_order = "biotype,appris,canonical,ccds,rank,tsl,length,mane"`

Reason I think rank should not be put at the front is that I think focusing on the relevant gene/transcripts should be given more importance than the severity of the consequen

[2020-02-18 00:37] vladsaveliev commented on #26
Thanks so much Sigve for your investigation and for the CPSR fix. This is super helpful.

Regarding moving "rank" down the list, I remember there was an issue that made me play with moving it up in the first place https://github.com/sigven/pcgr/issues/79 Need to go back to that case and see how the order "biotype,appris,canonical,ccds,rank,tsl,length,mane" will affect it.

Just to make sure, am I

[2020-02-25 03:47] vladsaveliev commented on #26
Sigve, still not sure about TNXB in PCGR.

The issue is _not_ that a missense variant in an obscure gene is prioritized over a non-coding variant of an important gene. It's that a missense variant in a well-established TNXB is reported as a non-coding variant in an obscure AL662884.2.

[2020-02-25 04:43] vladsaveliev commented on #26
Played a bit with VEP options. Apparently using `flag_pick_allele` for PCGR helps here. Since PCGR doesn't use a procedure to prioritize genes like CPSR does, we need to make sure there is one consequence selected per event, otherwise VEP picks multiple ones and PCGR end up using a less relevant one.

[2020-02-25 07:14] sigven commented on #26
This makes sense to me at least (I get confused at times with how the ordering actually works, and then adding two potential consequences on top of that will not make it easier.. ). I'll move from --flag_pick_allele_gene to flag_pick_allele in PCGR to ensure this will not pose a problem.

[2020-02-25 07:18] vladsaveliev commented on #26
Fantastic, thanks Sigve :) I guess all good now with this issue

[2020-02-25 08:31] #26 closed

[2020-04-04 18:29] brucemoran opened #27 "cpsr_configuration_default.toml missing from PCGR data"
Hi Sigve,

possibly due to update of CPSR/PCGR which I am using via Conda in a Singularity container. From RELEASE_NOTES:
[code]
Data bundle from ```http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20191116.tgz```

I am now missing the ```pcgr/data/*/cpsr_configuration_default.toml``` config file. Seems like multiple different dirs since I was last in there looking around.

Any ideas? Should

[2020-04-05 15:44] sigven commented on #27
Hi Bruce,

Thanks for reaching out. When I download the bundle from our local host (insilico.hpc.uio.no) I can see both the default configuration files, so I am not completely sure what has gone wrong on your side?

regards,
Sigve

[2020-04-05 23:41] brucemoran commented on #27
Hi Sigve,

I have a reproducible error on my end, very odd, but can confirm the bundle is fine.

Bruce

[2020-04-05 23:55] #27 closed

[2020-05-10 13:02] ohofmann commented on #22
Hi Sigve - I am going to +1 this but from a different perspective: I'd love to restrict the reported gene list. E.g., report on just a subset of genes present in the panel 0 list. We can work around this by submitting the submitted VCF to just the regions of interest, I suppose.

[2020-05-28 11:46] sigven commented on #22
Hi Oliver, I think your strategy would make a lot of sense actually (and my life somewhat easier:-)) Accepting _any_ target gene is really not something I wanted to support, since this tool is dedicated for cancer predisposition. The strategy may rather be to increase the panel 0 with any gene of potential relevance for cancer risk, and then restrict from that one.

[2020-10-01 13:11] jxshi opened #28 "Error: Problem with `mutate()` input `ACMG_PVS1_1`."
Dear Sigve,

I just update my local ```cpsr``` analysis pipeline to the latest version. However, an error message popped up when I used the example vcf file, and the same error message popped up when I used my own vcf file too.
Here is the command that I used:
[code]
Here is the full log of the error message:
[code]
Can you check for me, please? Thanks in advance!

Best,
Jianxiang

[2020-10-01 13:26] sigven commented on #28
Dear @jxshi, thanks for reporting! I just ran the example, and did not get any errors, so a bit confused. I assume you are running Docker-based? Could you share your TOML configuration file?

[2020-10-01 13:31] jxshi commented on #28
I just changed ```pop_gnomad = "nfe"``` to ```pop_gnomad = "esa"```, other parameters were left unchanged. I was running Docker-based report system.

Thank you for your timely reply!

[2020-10-01 13:37] sigven commented on #28
Which explains the error. If you read the comments in the TOML file, `esa` is not among the permitted populations, but `eas` is.  I seem to have removed an error-check here by mistake, I will add this.

Try with `eas`, and hopefully it should work! :-)

best,
Sigve

[2020-10-01 13:50] jxshi commented on #28
Awesome! It worked!

Thank you for your time again and sorry for the typo.

Best,
Jianxiang

[2020-10-01 13:50] #28 closed

[2020-10-04 18:00] brucemoran opened #29 "Error in loadNamespace(name) : there is no package called 'reactable'"
Hi Sigve,

have updated to version 0.6.0rc, installed via conda, and I get the above error during `### Annotation resources`.

Presume that `reactable` wasn't added to your conda channel?

Thanks for all the updates,

Bruce

[2020-10-04 19:41] sigven commented on #29
Hi Bruce,

Conda updates are still in the making, as stated in the NEWS item.

Will notify when Conda is updated as well.

Regards,
Sigve

[2020-10-04 19:54] brucemoran commented on #29
Sorry, never saw it, thanks for reply.

[2020-10-04 19:54] #29 closed

[2020-10-04 20:25] brucemoran opened #30 "x object 'GWAS_CITATION' not found"
Hi Sigve,

I'm getting the below error.

Can you give an idea?

VCF: [test.hc.merge.vcf.gz](https://github.com/sigven/cpsr/files/5324289/test.hc.merge.vcf.gz)

Singularity container is library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda.

Command:
[code]
[code]

[2020-10-04 21:05] sigven commented on #30
Thanks for reporting. I'll have a look.

[2020-10-04 23:04] sigven commented on #30
Hi Bruce,

Figured it out. Try making your Singularity version with the dev version of PCGR (`docker pull sigven/pcgr:dev`), and clone the updated `cpsr.py` script from the repo. I believe your test run should work now.

thanks,
Sigve

[2020-10-05 09:32] brucemoran commented on #30
Thanks Sigve,

I'm just going to roll back to previous versions as I make one big
container for my workflow from conda, so would need to set up a lot of
things to make it work, when previous does the job!

Appreciate the quick responses as ever,

Bruce

On Mon, 5 Oct 2020 at 00:04, Sigve Nakken <notifications@github.com> wrote:

[2021-02-09 22:46] hmalcaraz opened #32 "ImportError: No module named toml"
Hello Sigve,

Hope you are in good health. I encountered an error using MacOS PyCharm, Python interpreter 3.9, pip version 20.3.3 and later version 21.0.1., line 12, in <module>, Import error no module named toml.

Would you have any suggestions?

[2021-02-10 09:05] sigven commented on #32
Hi,

Please follow the installation instructions outlined, you probably have not installed the toml library:
https://github.com/sigven/cpsr#step-0-python

Also not that CPSR is set up for Python v3.6, I would recommend setting up a Conda environment with Python 3.6 and install the toml library there.

kind regards,
Sigve

[2021-02-10 09:33] tinavisnovska opened #33 "minor typo in src/cpsr_functions.R"
Hi Sigve,

cpsr_v0.6.1, line 1150, file src/cpsr_functions.R:

change `wwarning` to `warning`

Best,
Tina

[2021-02-12 05:48] #32 closed

[2021-02-17 08:59] #30 closed

[2021-02-17 09:06] brucemoran opened #34 "Error: `x` and `y` must share the same src"
Hi again,

have an error on cpsr.py 0.6.1 using latest data bundle (20201123) (NB pcgr.py is `dev`):

[code]

Dies with this after line:
[code]

Can you see where error is from?

Command:
[code]

Thanks,

Bruce

[2021-02-17 09:09] sigven commented on #34
Hi Bruce,
Thanks a lot for reporting. Could you share your input (sample.hc.merge.vcf.gz) as well?

Sigve

[2021-02-17 11:07] brucemoran commented on #34
Hi Sigve,

shared with your gmail,

Bruce

[2021-02-17 11:11] sigven commented on #34
Thanks Bruce, got it. Will look into it!  Again, thanks for reporting.

Sigve

[2021-02-18 11:03] MrsLaviniaG opened #35 "genes being excluded from CPSR exploratory track"
Hi Sigve

We are supplying a list of genes to CPSR using the _--custom_list_ option.
Several of those genes are not making it through to the final CPSR report.
Looking at the logs I can see:

_2021-02-18 21:31:44 - cpsr-validate-input - WARNING - Ignoring custom-provided gene symbol (ANKRD26) NOT found in CPSR exploratory track 0
2021-02-18 21:31:44 - cpsr-validate-input - WARNING - Choose only sy

[2021-02-18 11:37] sigven commented on #35
Hi Lavinia,

Thanks for reaching out. Can you send me the custom list file you are using, I am currently not able to reproduce the error on my side.

thanks,
Sigve

[2021-02-18 11:52] sigven commented on #35
One more thing: Do you see ANKRD26 in `data/grch38/cpsr_exploratory_track.tsv`?

[2021-02-18 12:11] sigven commented on #34
Hmm, made an initial run on your test VCF with my Docker installation, and that went through just fine. Will next check also with the Conda version, to see whether that can reproduce the error. On another note:

Your VCF files contains a lot of spurious entries, both multiallelic sites, and variants with a `*`. Also, I am not confident that the VCF has been subject to any quality control with resp

[2021-02-18 13:00] brucemoran commented on #34
Hi Sigve,

OK thanks for looking into it. Might try rerunning with your docker.

This is a control for benchmark of some filtering etc that I am working on, so indeed needs filtering etc!

Thanks,

Bruce.

[2021-02-18 22:19] MrsLaviniaG commented on #35
Thanks Sigve for responding so quickly!
We may be a version behind your latest update, I will confirm.

[2021-02-18 22:26] MrsLaviniaG commented on #35
Neither of the genes that I mentioned is in the file data/grch38/cpsr_exploratory_track.tsv. Thanks for that, very helpful with troubleshooting. I will update our version and get back to you.

[2021-02-19 00:30] MrsLaviniaG commented on #35
Thanks for your help Sigve, I can see ANKRD26 in the latest version of the data bundle, and I now understand why CSDE1 was omitted.

[2021-02-19 07:49] #35 closed

[2021-02-23 17:14] ashishjain1988 opened #36 "Not able to download the data bundles (404 Error)"
I am not able to download the data bundles for both hg38 and hg37 genomes. I am getting a 404 error.

wget http://insilico.hpc.uio.no/pcgr/pcgr.databundle.20201123.grch37.tar.gz -O grch37.tar.gz
--2021-02-23 12:10:24--  http://insilico.hpc.uio.no/pcgr/pcgr.databundle.20201123.grch37.tar.gz
Resolving dtn09-e0 (dtn09-e0)... 10.1.200.191
Connecting to dtn09-e0 (dtn09-e0)|10.1.200.191|:3128... connect

[2021-02-23 17:45] sigven commented on #36
The server is still being configured. If you read the instructions [here](https://github.com/sigven/pcgr#step-2-download-pcgr-and-data-bundle), there is an alternative download host.

[2021-02-23 17:45] #36 closed

[2021-02-23 22:10] sigven commented on #36
Btw, you have your URL wrong: correct url is: http://insilico.hpc.uio.no/pcgr/pcgr.databundle.20201123.grch37.tgz

[2021-06-30 11:56] sigven commented on #33
Fixed in v0.6.2

[2021-06-30 11:56] #33 closed

[2021-06-30 11:56] #22 closed

[2021-06-30 11:56] #34 closed

[2021-08-12 08:01] jxshi opened #37 "ACMG guideline updated to version 3.0. New genes were added to the secondary finding gene list."
Hi @sigven ,

ACMG has updated its recommendations for reporting incidental findings in clinical exome and genome sequencing and 14 genes were added:  ACVRL1, BTD, CASQ2, ENG, FLNC, GAA, HFE, HNF1A, MAX, PALB2, RPE65, TMEM127, TRDN, and TTN. . Here is the link to the report.

[ACMG Recommendations for Reporting of Incidental Findings in Clinical Exome and Genome Sequencing](https://www.ncbi.nlm.ni

[2021-08-12 11:52] sigven commented on #37
Hi @jxshi,

I updated the latest release (0.6.2) with genes from ACMG 3.0, although I have not mentioned this in the CHANGELOG. So they should be present already.

thanks,
Sigve

[2021-08-15 06:15] jxshi commented on #37
Great! Cheers!
Have a great day!

Best,
Jianxiang

[2021-08-15 06:15] #37 closed

[2021-10-27 13:04] asmlgkj opened #38 "make infromation like ckb to cpsr"
Thanks a lot for this awesome tool
have you ever noticed a database name ckb, can you add variant description and PMID, thanks  a lot
![image](https://user-images.githubusercontent.com/50854682/139071193-be98221b-b594-4c9e-91e0-2b96ab500e69.png)

[2021-10-27 13:20] #38 closed, assigned to nobody

[2022-03-30 06:34] A-Tsai opened #44 "Encounter the error in cpsr-report-generation()"
I try to run the demo case, but failed to generate the report. Could you please help me to solve the problem?

[code]

The error message:

[code]

[2022-03-30 06:42] sigven commented on #44
Hi, thanks a lot for reporting. I will have a look today, I think I know the cause.  Kind regards, Sigve

[2022-03-30 08:15] sigven commented on #44
Hi @A-Tsai,

I have now fixed an issue in PCGR that was related to the JSON output crash in CPSR. You need to [update PCGR to v.1.0.2](https://sigven.github.io/pcgr/articles/installation.html#quick-installation), let me know if that is still causing issues for you.

kind regards,
Sigve

[2022-03-30 08:41] A-Tsai commented on #44
@sigven It works now. Many thanks.

[2022-03-30 08:41] #44 closed

[2022-10-04 01:00] DarioS opened #45 "Installation Instructions Only Describe Conda"
This suggests there are other ways to do it. Could they be added to the information web page? I am using a department server which has `pip` and `virtualenv` but not `conda` available to me. How would I install this software in such a scenario?

[code]

[2022-10-04 01:19] pdiakumis commented on #45
Hi Dario!
Sorry, we should probably reword that. I guess it's simpler to run CPSR/PCGR via conda than Docker, for example, especially on HPC.

Since CPSR/PCGR use a variety of tools in addition to R/Python dependencies (such as bedtools/vcfanno/vcf2maf), we've found conda to be the more efficient way to install it. `pip` for instance wouldn't be able to install `bedtools`.

Another great thing abo

[2022-10-04 04:00] DarioS commented on #45
Ah, O.K. I'll do a home directory install. Yes, please reword it for clarity.

[2022-10-04 04:00] #45 closed